
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,500,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@400;600;700&display=swap');

a, p, h1, h2, h3{
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 0.8px;
    font-family: 'Arimo', sans-serif;
    hyphens: auto;
}

a{
    letter-spacing: 1px; 
}

p{
    hyphens: auto;
}

.navbar {
    margin-bottom: 0;
}


h1{
    margin: 1rem 0;
    font-weight: 700;
    font-size: 3rem;
}

.row{
    margin: 1rem 0;
}

.float{
	position:fixed;
	bottom:50px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
    width: 45px;
    height: 45px;
	border-radius:50px;
	text-align:center;
    justify-content: center;
    align-items: center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    display: flex;
    margin: auto;
}

.wa-float p{
    margin-right: 52px;
    position:fixed;
	bottom:50px;
	right:40px;
}

.container-body{
    width: 90%;
    margin: auto;
}



/* style Header--------------------------------------------------------------------------------------------------------------------------------------- */
.header-office, .container-contact-header{
    background-color:radial-gradient(circle at 10% 20%, rgb(192, 187, 187) 0%, rgb(255, 255, 255) 90.2%);
    display: flex;
    margin: 0.5rem auto;
}

.header-office{
    gap: 7em;
    font-size: smaller;
}

.header-contact, .header-alamat{
    display: flex;
    flex-direction: row;
}

.icon-contact-header{
    padding: 0.5rem 1rem;
    display: flex;
    color: #c0852b;
}

.header-logo{
    background-color: white;
    display: flex;
    margin:auto;
    padding: 1rem;
    align-items: center;
    /* box-shadow: -1rem 0 2rem #cc955d52; */
    box-shadow:  -0.5rem 0 2rem rgba(255, 255, 255, 0.212);
}

p strong{
    line-height: 0;
}


.fixed-top {
    position: relative;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.356);
}

strong.gap{
    color: white;
    display: flex;
    margin: auto;
    padding-right: 2rem;
}

.about-short{
    text-align: justify;
}

.header-body{
    background-color: #420001;
}

.mx-auto.d-block.flex-sm-nowrap a{
    color: white;
}

.dropdown-menu.show{
    background-color: #615152a8;
}

.navbar-toggler{
    background-color: rgba(0, 0, 0, 0.096);
}

/* @media (max-width: 600px) {
    .navbar-brand{
        margin-right: 0rem;
    }

    .navbar-toggler{
        margin-left: 0rem;
    }

} */

.mx-auto.d-block.flex-sm-nowrap{
    display: flex !important;
    flex-wrap: nowrap !important;
}

.nav-item{
    padding: 0 1rem;
}

@media (max-width: 768px) {
    .header-office, .container-contact-header{
        flex-direction: column;
    }

    .header-office, .header-logo{
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .navbar-brand{
        margin-right: 35vw;
    }

    .navbar-toggler{
        margin-left: 22vw;
    }

    strong.gap{
        display: none;
    }

    .mx-auto.d-block.flex-sm-nowrap{
        display: block !important;
        width: 85%;
        margin: auto;
    }

    
  }

  @media (max-width: 488px){
    .navbar-toggler{
        margin-left: 12vw;
    }
}

  @media (max-width: 1100px) {
    .container-contact-header{
        flex-direction: column;
    }

    .header-logo{
        gap: 1rem;
        margin-bottom: 0.8rem;
        margin-top: 1rem;
    }

    .header-logo{
        /* width: 40%; */
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
    }

    .header-alamat{
        padding-right: 1rem;
    }

    .header-office{
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }
  }


  /* end style Header--------------------------------------------------------------------------------------------------------------------------------------- */


  /* style about-home---------------------------------------------------------------------------------------------------------------------- */
  .all-about-container{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .about-home{
    width: 60%;
}
  
  .about-icon{
   color: #c0852b;
   margin-bottom: 1rem;
  }

  h4.fw-normal{
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .opening-more-about{
    margin-bottom: 1rem;
  }

  .button-more-about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    max-width: 100%;
  }

  .container-more-about{
    /* white-space: nowrap; */
    width: 35%;
    background-color: #c9c9c936;
    padding: 3rem 1rem 2rem 4rem;
    border-radius: 1.5rem;
  }

   
  .image-product1, .image-product2{
    box-shadow: -1rem 0 2rem rgba(255, 255, 255, 0.301);;
  }


  .btn-productdetail{
    background-color: #c0852b;
    margin: 1rem 0rem 1rem 0rem;
  }

  .more-container{
    display: flex;
    gap: 1rem;
  }

  .bi.bi-envelope-fill,
  .bi.bi-geo-alt-fill,
  .bi.bi-telephone-fill
  {
    margin-bottom: 1rem;
    color: #c0852b;
  }

  .contact.col-md-4.item-box.bottom-xs-pad-10,
  .contact.col-md-4.item-box{
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: solid rgb(0, 0, 0) 1pt;
    /* border-right: solid white 1px; */
    display: flex;
    flex-direction: column;
    /* justify-content: right;
    text-align: right;
    align-items: center; */
  }

  .button-to-top{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
  }


  .card-product-container{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-left: solid white 1px;
    box-shadow: -0.7rem 0 2rem rgba(255, 255, 255, 0.185);
    max-width: 50%;
  }

  .card-produk2, .card-produk1{
    padding: 0.5rem 1rem;
    background-color: white;
    margin: 0rem 1rem;
    text-align: center;
  }

.card-body.product a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.compro-about{
    display: flex;
    gap: 2rem;
  }



  @media (max-width: 480px) {
    .container-more-about{
        padding: 0;
      }

      .contact.col-md-4.item-box.bottom-xs-pad-10, 
      .contact.col-md-4.item-box {
        justify-content: center;
        align-items: center;
        text-align: center;
        border-left: none;
        margin-top: 1rem;
      }

  }

@media (max-width: 768px) {
    .compro-about{
        flex-direction: column;
    }

    .all-about-container{
        flex-direction: column;
    }

    .fun-factor-container{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        margin: 0 auto;
        align-items: flex-start;
        max-width: 30;
    }

    .row.about-home{
        width: 100%;
        margin: auto 0;
    }

    .container-more-about{
        width: 90% !important;
        margin: auto;
    }

    .card-product-container, .about-home{
        width: 100%;
        margin: auto;
        max-width: 100%;
        gap: 0.2rem;
        padding: 0.5rem;
    }

    .card-produk1 h4, .card-produk2 h4, .product a{
        font-size: smaller;
    }

    .card-produk2, .card-produk1{
        padding: 0.5rem;
        width: 50%;
        margin: 0.1rem;

    }

    .navbar-toggler.collapsed{
        margin-top: 1rem;
       
    }
    
    #navbarCollapse{
        width: 100%;
        justify-content: left;
        margin-top: 1rem;
        align-items: flex-start;
        text-align: start;
        float: left;
        margin-left: 2rem;
      }

      .navbar-toggler-icon{
        align-self: center;
        justify-self: center;
      }

      button.navbar-toggler{
        margin-top: 1rem;
      }
      
}

@media (max-width: 990px){
    .card-product-container, .about-home{
        text-align: center;
    }

    .card-produk2, .card-produk1{
        padding: 0.5rem;
        width: 50%;
        margin: 0.1rem;

    }
}

@media (max-width: 1100px) {
    .container-more-about{
        max-width:100%;
        /* padding: 4rem 2.5rem 1rem 2.5rem; */
        width: 40%;
    }
    .about-home{
        width: 50%;
        /* padding-right: 1rem; */
    }
   
}

/* fun factor----------------------------------------------------------------------------- */
.fun-factor-container{
    width: 90%;
    display: flex;
    gap: 3rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    
}

.fun-text{
 letter-spacing: 1px;
 /* font-weight: 20pt; */
 font-family: 'Oswald', sans-serif !important;
 font-weight: 800; 
}

.counter{
    color: #c0852b;
}

@media (max-width: 500px){
    .fun-factor-container{
        display: flex !important;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        text-align: right;
    }
}