footer{
    width: 100vw;
    overflow-x: hidden;
}

.contact-footer, .footer-title{
    /* width: 75%; */
    display: flex;
    /* justify-content: space-around; */
    margin:auto;
    /* padding-right: 2rem; */
    box-sizing: border-box;
    width: 100%;
}

.footer-title p{
    margin: 0;
}

.contact-footer div p{
    font-size: 12px;
    letter-spacing: 0.8px;
}

.copy-right p{
    width: 75%;
    margin: auto;
    font-size: 12px;
    padding-top: 1rem;
    border-top: solid #B68D40 1px;
    text-align: center;
    justify-content: center;
}

.office-footer,
.factory-footer,
.telp-footer,
.email-footer {
    display: flex;
    color: #B68D40;
    align-items: center;
    /* gap: 1rem; */
    width: 50%;
    margin: auto;
    justify-content: center;
}

.divider{
    display: flex;
    width: 50%;
    margin: auto;
    gap: 2rem;
}

.svg-footer{
    margin-right: 8px;
}

@media screen and (max-width: 912px) {
    .contact-footer{
        max-width: 75%;
        border-bottom: solid #B68D40 1px;
        padding: 0 3% 3%;
        flex-direction: column;
        box-sizing: border-box;
        /* white-space: pre-wrap; */
    }

    .divider{
        width: 100%;
        justify-content: left;
        border-bottom: solid #B68D40 1px;
    }

    .office-footer,
    .factory-footer,
    .telp-footer,
    .email-footer{
        width: 100%;
        margin: auto;
        justify-content: left;
    }

    .copy-right p{
        border-top: solid #B68D40 0px;
        padding-bottom: 1rem;
        width: 75%;
        /* text-align: center; */
    }

    .contact-footer{
        border-bottom: transparent;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 680px) {
    .contact-footer{
        display: flex;
        flex-direction: column;
    }

    .copy-right p{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        text-align: center;
        border-top: solid #B68D40 1px;

    }

    .office-footer,
    .factory-footer,
    .telp-footer,
    .email-footer
    {
        border-bottom: solid #B68D40 1px;
        width: 75%;
        margin: auto;
        padding-left: 0.5rem;
    }

    .email-footer{
        border-bottom: transparent;
    }

    .divider{
        flex-direction: column;
        border-bottom: none;
        gap: 0;
    }
}

@media screen and (min-width: 912px) {
    .contact-footer, .footer-title{
        width: 75%;
    }
}