.event-container{
    display: grid;

}

.h1-tentang{
    text-align: center;
}

.img-event{
    margin: 1rem 20rem 4rem 20rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.img-event img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-container, .email-container{
    margin-top: 1rem;
}

.knt-container{
    margin-bottom: 1rem;
}
.p-wa{
   padding-left: 2rem;
}

.pemark{
    padding-top: 15px;
}