*{
    overflow-x: hidden;
}


.Keunggulan-doordetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}

.deskripsi-door-detail{
    width: 40%;
    padding-left: 2rem;
}

.deskripsi-door-detail h1{
    border-bottom: 4px solid;
}

.detaiparagraf{
    padding-top: 1rem;
}

/* video--------------------------------------------------------------- */

.video-container-door{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.video-container-door video{
        position: relative;
        top: 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}

/* sc series--------------------------------------------------------------- */
.SC-Series-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
}

.text-sc-pintu{
    max-width: 50%;
    display: block;
    flex-direction: column;
    margin-right: 33rem;
    align-items: start;
}

.text-nc-pintu{
    max-width: 45%;
    display: block;
    flex-direction: column;
    margin-right:28.1rem;
    align-items: start;
}

.text-sc-pintu h1{
    width: 40%;
    border-bottom: 4px solid;
    margin-bottom: 7px;
}

.text-nc-pintu h1{
    border-bottom: 4px solid;
}

.sc-pintu-con{
    display: flex;
}

.sc-pitu-tentang{
    font-size: smaller;
}

.sc-pitu-isi{
    margin: 1rem;
}
.sc-ukuran-pintu {
    display: flex;
}
.sc-nilai-pintu{
    padding: 2px;
}

.sc-ukuran-judul{
    font-weight: bolder;
}

.img-pilihan-warna{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    margin: 2rem;
}




/* tambahanfooter--------------------------------------------------------------- */
.phone-container, .email-container{
    margin-top: 1rem;
}

.knt-container{
    margin-bottom: 1rem;
}
.p-wa{
   padding-left: 2rem;
}

.pemark{
    padding-top: 15px;
}



@media screen and (max-width: 900px){
    .Keunggulan-doordetail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-door-detail{
        display: flex;
        width: 80vw;
    }

    .img-door-detail img{
        max-width: 100%;
        align-self: center;
        justify-self: center;
    }

    .deskripsi-door-detail{
        width: 70vw;
        padding: 0;
    }

    .text-sc-pintu, .text-nc-pintu{
        font-size: smaller;
        margin: 1rem;
        max-width: 80%;
    }

    .text-sc-pintu h1, .text-nc-pintu h1{
        white-space: nowrap;
        width: 100vw;
    }

    .sc-pintu-con{
        display: flex;
        flex-direction: column;
    }

    .sc-pitu-isi{
        gap: 1rem;
        display: flex;
        flex-direction: row;
    }

    .sc-pitu-gambar img{
        width: 40vw;
    }

    .sc-pitu-gambar img{
        max-width: 100%;
    }

    .sc-pitu-tentang{
        font-size: smaller;
    }

    .sc-pitu-tentang p{
        font-size: smaller;
        white-space: nowrap;
    }

    .img-pilihan-warna{
        width: 80vw;
    }





    .fter-container{
		width: 100%;
	  }
	  
	  .phone-container, .email-container, .address-container{
		display: flex;
		flex-direction: column;
	  }
	  
	  .tlp-con h2{
		font-size: smaller;
		padding-left: 1rem;
	  }
	  
	  div.konimg {
		margin-right: 0rem;
		padding-top: 1.5rem;
	  }
	  
	  .button-footer{
		margin-top: 1.3rem;
	  }
	  
	  div.email-img, div.address-img{
		margin-top: 1rem;
		align-self: flex-start;
	  }
}
