*{
    overflow-x: hidden;
}

.produk-container{
    width: 60vw;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.produkdoor-img{
    width: 30vh;
    height: auto;
    margin-right: 2rem;
}

.produkdoor-img img{
    max-width: 100%;
    max-height: auto;
    display: block; 
    margin: auto; 
  }

.carddoor-produk{
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

div.door-produk{
    width: 60%;
    margin-right: 1rem;
  } 

.door-produk h1{
    max-width: 100%;
    text-align: right;
    border-bottom: 2px solid;
}

.deskripsi-pproduk{
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 3rem 1rem;
    text-align: justify;
}

.carddoor-produk a{
    display: flex;
    margin: 0 auto;
    color: white;
    padding: 0.5em 0.9em;
    background-color: rgb(37, 37, 134);
}



/* .kusen-produk/////////////////////////////////////////////////////////// */
.produk-container-kusen{
    width: 70vw;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.produkkusen-img{
    max-width: 100%;
    max-height: auto;
    display: block; 
    margin: auto; 
}

.produkkusen-img img{
    max-width: 100%;
    display: block; 
    margin: auto; 
  }

.kusen-produk h1{
    width: 80%;
    border-bottom: 2px solid;
    white-space: nowrap;
}


.kusen-produk{
  display: flex;
  align-items: right;
  margin: 0rem 1rem;
  height: fit-content;
} 

.deskripsi-kproduk{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1.5rem 1rem;
    text-align: justify;
}

.deskripsi-kproduk{
    text-align: justify;
}

.cardkusen-produk{
    text-align: center;
    height: fit-content;
    overflow: hidden;
}

.cardkusen-produk a{
    margin: 0 auto;
    color: white;
    padding: 0.5em 0.9em;
    background-color: rgb(37, 37, 134);
}


/* <!-- marketplace/////////////////////////////////////////////////////////////////// --> */

.mplace-container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: left;
    
}

.judul-marketplace{
    width: 50%;
    border-bottom: 2px solid;
}

.link-marketplace{
    align-items: center;
}

.baris-marketplace{
    display: flex;
}

.kolom-mplace{
    width: 25vw;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}


.deskripsi-mplace{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.deskripsi-mplace{
    display: flex;
    width: 40%;
    text-align: left;
}

.deskripsi-mplace p{
    font-size: 8pt;
    text-align: left;
}

.icon-mplace{
    width: 40%;
    padding: 1rem;
}

.icon-a img{
    max-width: 100%;
}

/* <!-- socialmedia/////////////////////////////////////////////////////////////////////////////// --> */

/* tambahanfooter */
.phone-container, .email-container{
    margin-top: 1rem;
}

.knt-container{
    margin-bottom: 1rem;
}
.p-wa{
   padding-left: 2rem;
}

.pemark{
    padding-top: 15px;
}


@media screen and (max-width: 900px){
    div.produk-container, div.produk-container-kusen{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: 0rem;

    }

    .produkdoor-img{
        display: flex;
        margin: auto;
        margin-top: 2rem;
    }

    div.carddoor-produk{
        display: flex;
        width: 90%;
        margin: 0rem auto;
    }
    

    .kusen-produk h1, .door-produk h1, .judul-marketplace h1{
        font-size: x-large;
    }

    div.produk-container-kusen{
        width: 100vw;
        margin-top: 2rem;
    }
    
    .cardkusen-produk{
        max-width: 90%;
        margin: auto;
        overflow: hidden;
    }

    .deskripsi-kproduk, .kusen-produk{
        max-width: 100%;
        margin: 1rem;
    }

    .baris-marketplace{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
     
    .kolom-mplace{
        flex-direction: column;
        padding: 0;
        text-align: center;
        align-items: center;
    }

    .deskripsi-mplace{
        width: 100%;
    }

    .nama-mplace{
        font-size: 7pt;
    }

    .deskripsi-mplace p{
        font-size: 5pt;
    }




    .fter-container{
		width: 100%;
	  }
	  
	  .phone-container, .email-container, .address-container{
		display: flex;
		flex-direction: column;
	  }
	  
	  .tlp-con h2{
		font-size: smaller;
		padding-left: 1rem;
	  }
	  
	  div.konimg {
		margin-right: 0rem;
		padding-top: 1.5rem;
	  }
	  
	  .button-footer{
		margin-top: 1.3rem;
	  }
	  
	  div.email-img, div.address-img{
		margin-top: 1rem;
		align-self: flex-start;
	  }
}
