.all-customers-container{
    width: 80vw;
    margin: 4rem auto;
}

#card-customers{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.collapse.show{
    display: flex;
    max-width: 100%;
    height: 220px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.363);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}


